<div class="container-fluid text-center">
  <fa-icon [icon]="faUtensils " class="iconosMenu"> </fa-icon> <h1 class="animate__heartBeat">RESTAURANTES</h1>
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col"> <!--Molienda-->
    <div class="card" routerLink="/molienda">
      <img src="../../../assets/imagenes/restaurantes/molienda/la-molienda-fondo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title text-center">La Molienda</h2>
      </div>
    </div>
  </div>

  <div class="col"> <!--La Terraza-->
    <div class="card" routerLink="/terraza">
      <img src="../../../assets/imagenes/restaurantes/la-terraza/1.JPG" alt="">
      <div class="card-body">
        <h2 class="card-title text-center">La Terraza</h2>
      </div>
    </div>
  </div>

  <div class="col"> <!--El Cuate-->
    <div class="card" routerLink="/elCuate">
      <img src="../../../assets/imagenes/restaurantes/el-cuate/pollo-asado-fondo.jpeg"  alt="...">
      <div class="card-body">
        <h2 class="card-title text-center">El Cuate</h2>
      </div>
    </div>
  </div>





</div>