<div class="contenedor-molienda">

    <div class="titulo-molienda">
      <h2 clas>Hotel Real<hr></h2>
      <img src="../../../../../assets/imagenes/hospedajes/hotel real.jpg" alt="">
  </div>

<div class="contenedores-molienda d-flex"> <!--contenedor de los contenedores de molienda informacion y carrucel -->

  <div class="contenedor1-molienda"> <!--contenedor de información-->
    <div class="informacion">

      <h1 class="text-center" style="margin-bottom: 5%;">Información</h1>
      <hr>

      <div>
        <div class="parrafo">

          <p>En el corazón de la pintoresca Xicotepec de Juárez, Puebla, se encuentra el Hotel Real, un oasis de confort y hospitalidad que te invita a experimentar lo mejor de esta encantadora región. Ya sea que estés planeando una escapada de fin de semana, unas vacaciones en familia o un viaje de negocios, el Hotel Real ofrece una estancia excepcional con servicios cuidadosamente diseñados y una ubicación privilegiada.
          </p>
             <ul class="links">
              <a href="https://www.google.com.mx/maps/place/Hotel+Real+de+Xicotepec/@20.2706835,-97.9637301,17z/data=!3m1!4b1!4m6!3m5!1s0x85d08f30d36fcfd9:0x1d0b428de28a95cb!8m2!3d20.2706785!4d-97.9611498!16s%2Fg%2F11ghnnjgts?entry=ttu" target="_blank">

                <li> <fa-icon [icon]="faLocationDot" ></fa-icon> Del Gavilán 113, Col Centro, 73080 Xicotepec de Juárez, Pue.</li>

              </a>
               <hr>
               <li> <fa-icon [icon]="faPhone" ></fa-icon> +527647641291</li>
               <hr>
               <li> <fa-icon [icon]="faClock" > </fa-icon> Lunes a Domingo 24Hrs</li>
               <hr>
               <a href="https://www.facebook.com/profile.php?id=100070065887006" target="_blank">

                 <li> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                  <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                  Hotel Real De Xicotepec</li>

               </a>
              </ul>

        </div>
      </div> 

    </div>
  </div>

  <div class="contenedor2-molienda"> <!--contenedor de carrucel-->
      <div class="carrucel">

          <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../../../assets/imagenes/hospedajes/hotel-real/1.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/imagenes/hospedajes/hotel-real/2.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/imagenes/hospedajes/hotel-real/3.JPG" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

      </div>
  </div>

</div>
</div>