<nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: auto;">
  <a class="navbar-brand col-12 text-center" href="#"> <!-- centrar el icono  -->

      <div class="contenedorImagen">
        <img class="logoImagen" src="../../../assets/imagenes/navbar/logo xicotepec.png"  >
      </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto" >

        <li class="nav-item">
          <a class="navbar-brand  textoMenu" href="#" routerLink="/restaurantes"> <fa-icon [icon]="faUtensils"> </fa-icon> Restaurantes</a>
        </li>
       
         <li class="nav-item ">
          <a class="navbar-brand  textoMenu" href="#" routerLink="/hospedajes"> <fa-icon [icon]="faBellConcierge"> </fa-icon> Hospedajes</a>
         </li>

         <li class="nav-item">
            <a class="navbar-brand  textoMenu" href="#" routerLink="/museos"> <fa-icon [icon]="faBuildingColumns"> </fa-icon> Museos</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand  textoMenu" href="#" routerLink="/actividades" > <fa-icon [icon]="faChartLine"></fa-icon> Actividades</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand  textoMenu" href="#" routerLink="/agricultura" > <fa-icon [icon]="faWheatAwn"> </fa-icon> Agricultura</a>
          </li>

          <li class="nav-item">
            <a class="navbar-brand  textoMenu" href="#" routerLink="/ganaderia"> <fa-icon [icon]="faCow"> </fa-icon> Ganaderia</a>
          </li>


        
      </ul>
    </div>
  </div>
</a>
</nav>

<!--

  <nav class="navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
              <img src="../../../assets/imagenes/navbar/logo-xico.png" alt="">
              
              <div class="d-flex">
                  <h3 class="opcion"> <fa-icon [icon]="faUtensils"></fa-icon> <a href="#" routerLink="/restaurantes">Restaurantes</a></h3>
                  <h3 class="opcion"> <fa-icon [icon]="faBellConcierge"></fa-icon> Hospedaje</h3>
                  <h3 class="opcion"> <fa-icon [icon]="faBuildingColumns"></fa-icon> Museo</h3>
                  <h3 class="opcion"> <fa-icon [icon]="faChartLine"></fa-icon> Actividades</h3>
                  <h3 class="opcion"> <fa-icon [icon]="faWheatAwn"></fa-icon> Agricultura</h3>
                  <h3 class="opcion"> <fa-icon [icon]="faCow"></fa-icon> Ganadería</h3>
              </div>
      </div>
    </nav>
-->

  <!--    <div class="container-fluid" style="background-color: red;">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>-->