<div class="container-fluid text-center">
  <fa-icon [icon]="faBellConcierge  " class="iconosMenu"> </fa-icon> <h1 class="animate__heartBeat">HOSPEDAJES</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col"> <!--HOTEL VILLA DE CORTEZ-->
    <div class="card" routerLink="/villaDeCortez">
      <img src="../../../assets/imagenes/hospedajes/villa-de-cortes/DSC05418.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title text-center">Hotel San Carlos</h2>
      </div>
    </div>
  </div>

  <div class="col"> <!--HOTEL REAL-->
    <div class="card" routerLink="/real">
      <img src="../../../assets/imagenes/hospedajes/hotel real.jpg" alt="">
      <div class="card-body">
        <h2 class="card-title text-center">Hotel Real</h2>
      </div>
    </div>
  </div>

  <div class="col"> <!--HOTEL CASA BLANCA-->
    <div class="card" routerLink="/casaBlanca">
      <img src="../../../assets/imagenes/hospedajes/casa-blanca/fondo-casa-blanca.jpg"  alt="...">
      <div class="card-body">
        <h2 class="card-title text-center">Hotel Casa Blanca</h2>
      </div>
    </div>
  </div>

  


</div>
