<div class="container-fluid2 text-center">
  <fa-icon [icon]="faWheatAwn" class="iconosMenu"> </fa-icon> <h1 class="animate__heartBeat">AGRICULTURA</h1>
</div>

  <!--Contenedor debajo de titulo "AGRICULTURA"-->
<div class="titulo">
  <h1 class="text-center">Siembra Y Cultivos De Xicotepe De Juaréz</h1>
</div>

<div class="container-fluid" style="background-color: white;">
  <div (click)="cambiaTexto()">
    <div class="content">
      <h2>Café</h2>
      <span>Saber Más</span>
    </div>
  </div>
  <div (click)="cambiaTexto1()">
    <div class="content">
      <h2>Acelgas</h2>
    </div>
  </div>
  <div (click)="cambiaTexto2()">
    <div class="content">
      <h2>Chile Serrano</h2>
    </div>
  </div>
  <div (click)="cambiaTexto3()">
    <div class="content">
      <h2>Rabano</h2>
    </div>
  </div>
  <div (click)="cambiaTexto4()">
    <div class="content">
      <h2>Papalo</h2>
    </div>
  </div>
  <div (click)="cambiaTexto5()">
    <div class="content">
      <h2>Papa</h2>
    </div>
  </div>
  <div (click)="cambiaTexto6()">
    <div class="content">
      <h2>Frijol</h2>
    </div>
  </div>
  <div (click)="cambiaTexto7()">
    <div class="content">
      <h2>Platano</h2>
    </div>
  </div>

</div>

  <div class="container-fluid3">

    <h1> {{titulo}} </h1>
    <p> {{texto}} </p> <!--CAFE-->

  </div>


  <div class="container-fluid4 d-flex" style="background-color: white;">
    <img src="https://img.freepik.com/fotos-premium/taza-cafe-cuchara-sobre-mesa-madera_900958-37545.jpg" alt="">
    
    <div class="info">
      <strong class="d-flex"><h1>Sabias que...   </h1> <fa-icon class="icon" [icon]="faMugSaucer"></fa-icon> </strong>
      <p>La región de Xicotepec es renombrada por su producción de café de alta calidad. Los cafetales se despliegan
         en las laderas de las montañas, creando una paleta de verdes que contrasta con la intensidad de los granos maduros.
         El café de Xicotepec, cultivado a una altitud ideal, desarrolla sabores complejos y notas aromáticas que cautivan a los conocedores
         de café en todo el mundo. Los agricultores locales, expertos en el arte de la cosecha y el tostado, preservan una tradición que se
          transmite de generación en generación.</p>

    </div>

  </div>







<!-- <div class="contenedor-papa">



        <div class="d-flex flex-row galeria">


          </div>


    <div class="contenedores-hijo d-flex">


    
        <div class="carrucel">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/plantita.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../assets/ranchoSanCarlos.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>

    
        <div class="info">
          <p>En Xicotepec de Juárez, la acelga es una verdura fundamental en la agricultura local. Su cultivo se ha convertido en una tradición arraigada, y las hojas de acelga se utilizan en varios platillos tradicionales, aportando sabor y valor nutricional a la dieta local. Los agricultores locales cuidan meticulosamente de sus cultivos de acelga, lo que garantiza la frescura y calidad de esta verdura esencial en la gastronomía de Xicotepec.</p>
        </div>
    </div>

</div>
 -->
