<div class="container-fluid">
  <div class="contenedor-hijo">

    <h1 class="text-center">Crea tu Cuenta</h1>
    <h2 class="error" *ngIf="error">Usuario no creado, intenta de nuevo.</h2>
    <h2 class="correct" *ngIf="correct">Usuario correctamente creado.</h2>
    <form [formGroup]="register" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="email" formControlName="name" class="form-control" id="name" name="name"
          aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" formControlName="email" id="email" name="email"
          aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="register.invalid">Enviar</button>
    </form>

  </div>
</div>