<!-----------------------------CONTENEDORES LA MOLIENDA----------------------------->

<div class="contenedor-molienda">

    <div class="titulo-molienda">
      <h2 clas>Plaza Civica 5 De Mayo<hr></h2>
      <img src="../../../../../assets/imagenes/actividades/plazacivica/plazacivica.JPG" alt="">
  </div>

<div class="contenedores-molienda d-flex"> <!--contenedor de los contenedores de molienda informacion y carrucel -->

  <div class="contenedor1-molienda"> <!--contenedor de información-->
    <div class="informacion">

      <h1 class="text-center" style="margin-bottom: 5%;">Información</h1>
      <hr>

      <div>
        <div class="parrafo">

          <p>Rodeada por la majestuosa Parroquia de San Juan Bautista, la Plaza 5 de Mayo es un espacio que respira tradición y comunidad.
             Sus adoquines cuentan historias centenarias, mientras que los coloridos kioscos y bancas invitan a locales y visitantes por igual
              a disfrutar de momentos de tranquilidad y convivencia.
          </p>
             
          <ul class="links">  
               <li> <fa-icon [icon]="faLocationDot" ></fa-icon> Col Centro, 73080 Xicotepec de Juárez, Pue.</li>
               <hr>
               <li> <fa-icon [icon]="faClock" > </fa-icon> Lunes  a Domingo 24HRS</li>
               <hr>
              </ul>

        </div>
      </div> 

    </div>
  </div>

  <div class="contenedor2-molienda"> <!--contenedor de carrucel-->
      <div class="carrucel">

          <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../../../assets/imagenes/restaurantes/molienda/la-molienda-c2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/imagenes/restaurantes/molienda/la-molienda-c3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/imagenes/restaurantes/molienda/la-molienda-fondo.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

      </div>
  </div>

</div>
</div>