<div class="container-fluid text-center">
  <fa-icon [icon]="faChartLine" class="iconosMenu"> </fa-icon> <h1 class="animate__heartBeat">ACTIVIDADES</h1>
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col"> <!--Molienda-->
    <div class="card">
      <img src="../../../assets/imagenes/actividades/cruz-celestial/3.JPG" class="card-img-top" alt="..." routerLink="/cruzCelestial">
      <div class="card-body">
        <h2 class="card-title text-center">Cruz Celestial</h2>
      </div>
    </div>
  </div>

  <div class="col"> <!--La Terraza-->
    <div class="card">
      <img src="../../../assets/imagenes/actividades/xochipila/xochipila-fondo.png" alt="" routerLink="/xochipila">
      <div class="card-body">
        <h2 class="card-title text-center">Xochipila</h2>
      </div>
    </div>
  </div>


  <div class="col"> <!--La Terraza-->
    <div class="card" routerLink="/plazaCivica">
      <img src="../../../assets/imagenes/actividades/plazacivica/plazacivica.JPG" alt="">
      <div class="card-body">
        <h2 class="card-title text-center">Plaza Civica 5 De Mayo</h2>
      </div>
    </div>
  </div>


</div>
