

.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 80%;
}

.comentarios > form {
    display: flex; 
    flex-direction: column;
    gap: 12px;
    width: 60%;
}

.comentarios > form > input {
    padding: 8px;
    border-radius: 12px;
    outline: none;
    border: 1.5px solid blue;
}

.comments{
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid blue;
    background-color: rgba(241, 241, 241, 0.701);
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

}