<div class="container-fluid text-center">
  <fa-icon [icon]="faBuildingColumns" class="iconosMenu"> </fa-icon> <h1 class="animate__heartBeat">MUSEOS</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col"> <!--HOTEL VILLA DE CORTEZ-->
    <div class="card">
      <img src="../../../assets/imagenes/museos/casa carranza/fondo-carranza.JPG" class="card-img-top" alt="..." routerLink="/casaCarranza">
      <div class="card-body">
        <h2 class="card-title text-center">Museo Casa Carranza</h2>
      </div>
    </div>
  </div>

  <div class="col"> <!--HOTEL CASA BLANCA-->
    <div class="card">
      <img src="../../../assets/imagenes/museos/museo-trilobit/fondo-trilobit.jpg"  alt="..." routerLink="/trilobit">
      <div class="card-body">
        <h2 class="card-title text-center">Museo Trilobit</h2>
      </div>
    </div>
  </div>

  


</div>

