

<!-----------------------------CONTENEDORES LA MOLIENDA----------------------------->

<div class="contenedor-molienda">

    <div class="titulo-molienda">
      <h2>Xochipila<hr></h2>
      <img src="../../../../../assets/imagenes/actividades/xochipila/xochipila-fondo.png" alt="">
  </div>

<div class="contenedores-molienda d-flex"> <!--contenedor de los contenedores de molienda informacion y carrucel -->

  <div class="contenedor1-molienda"> <!--contenedor de información-->
    <div class="informacion">

      <h1 class="text-center" style="margin-bottom: 5%;">Información</h1>
      <hr>

      <div>
        <div class="parrafo">

          <p>En las colinas pintorescas de Xicotepec de Juárez, Puebla, se alza majestuoso el Monumento Xochipila,
             una joya arquitectónica que te invita a sumergirte en la rica historia y la esencia cultural de la región.
              Este monumento, ubicado estratégicamente para ofrecer vistas panorámicas de la localidad y sus alrededores, 
              es un lugar de encuentro entre la naturaleza exuberante y la creatividad humana. Aquí te invitamos a explorar
               lo que hace del Monumento Xochipila un destino imperdible.
          </p>
             
          <ul class="links">
            <a href="https://www.google.com.mx/maps/place/Xochipila/@20.2762657,-97.9565112,19z/data=!3m1!4b1!4m6!3m5!1s0x85d085896e1cec11:0x1d7806aaadab5d02!8m2!3d20.2762644!4d-97.9558661!16s%2Fg%2F12283wsd?entry=ttu" target="_blank">

              <li> <fa-icon [icon]="faLocationDot" ></fa-icon> 73080, Porfirio Díaz 118, Col Centro, Xicotepec de Juárez, Pue.</li>
            </a>
               <hr>
               <li> <fa-icon [icon]="faPhone" ></fa-icon> +527647641300</li>
               <hr>
               <li> <fa-icon [icon]="faClock" > </fa-icon> Lunes a Domingo 6:00AM-6:00PM</li>
               <hr>
               <a href="https://www.facebook.com/pages/Xochipila/127376800781221/" target="_blank">

                 <li> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                  <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                  Xochipila  </li>

               </a>
              </ul>

        </div>
      </div> 

    </div>
  </div>

  <div class="contenedor2-molienda"> <!--contenedor de carrucel-->
      <div class="carrucel">

          <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../../../assets/imagenes/actividades/xochipila/xohipila1jpg.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/imagenes/actividades/xochipila/xochipila2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/imagenes/actividades/xochipila/xochipila3.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

      </div>
  </div>

</div>
</div>