
<!-- contenedor de Xicotepec 
 -->

 <div class="container3">
  <h1 class="text-center animate__bounceIn">Bienvenido A Xicotepec De Juárez Puebla</h1>
  <video controls autoplay muted loop>
    <source src="../../assets/videos/inicio/Xico2.mp4" type="video/mp4">
  </video>
 </div>
 
 <div  class="contInfoXico " data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <!-- seccion de la Xicotepec -->
        <div class="border contenedorInfoXico navbar-expand-lg bg-body-tertiary " >
          <img class="imagenXico  " src="../../assets/imagenes/xico.jpg" />
          <h5 class="textoInfoXico"> <h1 class="text-light">Xicotepec de Juarez Puebla, México</h1><br> <br>Un lugar entre las nubes con aroma a café, donde vivirás experiencias que te llevarán al origen. <br> Xicotepec es un Pueblo Mágico de la Huasteca Poblana con un fuerte sincretismo que podrás descubrir en un recorrido por sus calles, una excursión en sus montañas y aventura en sus cascadas.Ahí verás que la magia es más real de lo que pensabas.
          </h5>
      </div>

      <div class="container" style="background-color: white;">
          <h1 class="text-center">¿Porque Visitar Xicotepec?</h1>

          <div class=" d-flex">

            <div class="contenedor1">
              <p>Un lugar entre las nubes con aroma a café, donde vivirás experiencias que te llevarán al origen.
                Xicotepec es un Pueblo Mágico de la Huasteca Poblana con un fuerte sincretismo que podrás descubrir en un recorrido por sus calles, una excursión en sus montañas y aventura en sus cascadas.
                Ahí verás que la magia es más real de lo que pensabas. <br><br>
                <strong>Gastronomía:</strong> Como en muchos Pueblos Mágicos en México, Xicotepec ofrece una deliciosa 
                gastronomía regional. Puedes probar platillos típicos como mole poblano, tamales, chiles en nogada y deliciosos molotes de la region. <br> <br>
                <strong>Folklore y Tradiciones:</strong> Xicotepec tiene una rica tradición cultural y folklórica. La preservación de estas tradiciones se refleja en eventos locales,
                 danzas, música y celebraciones a lo largo del año. <br> <br>
                <strong>Artesanías:</strong> Podrás adquirir artesanías locales que reflejan la destreza artesanal de la región. Algunos productos populares incluyen textiles, cerámica y objetos tallados.</p>
            </div>
  
            <div class="contenedor2">
              <img src="../../assets/imagenes/inicio/estatua.JPG" alt="">
            </div>

          </div>
        </div>


        <!------------------------------------------------->

        <div class="container2">
          <div class="contenedores">

            <div class="titulo text-center"><h1>Ganaderia y Agricultura</h1></div>

            <div class="info">
              <p>Xicotepec es reconocido por su destacada tradición ganadera.
                Sumérgete en la cultura pecuaria de la región y descubre la importancia
                 de esta actividad para la comunidad. Explora las ferias ganaderas locales, donde podrás admirar la belleza de diversas
                  razas de ganado y experimentar de cerca la pasión que los habitantes de Xicotepec tienen por su ganadería.</p>
            </div>

            <div class="d-flex">

              <div class="ganaderia">
                <img src="../../assets/imagenes/vaquita.jpg" alt="" routerLink="/ganaderia">
              </div>
  
              <div class="agricultura">
                <img src="../../assets/imagenes/plantita.jpg" alt="" routerLink="/agricultura">
              </div>
            </div>
            

          </div>
        </div>
        <!-- <div class="container2" >
          <div class=" row">

            <div class="textoganaderia">

              <h1 class="text-center">Ganadería y Agricultura</h1>
              <p>Xicotepec es reconocido por su destacada tradición ganadera.
                 Sumérgete en la cultura pecuaria de la región y descubre la importancia
                  de esta actividad para la comunidad. Explora las ferias ganaderas locales, donde podrás admirar la belleza de diversas
                   razas de ganado y experimentar de cerca la pasión que los habitantes de Xicotepec tienen por su ganadería.</p>

            </div>


                 <div class="d-flex" style="background-color: green;">

                   <div class="ganaderia"> 
                     <p>Ganaderia</p>
                     <img clas src="../../assets/imagenes/vaquita.jpg" class="img-fluid" alt="Imagen 1">
                   </div>
       
                   <div class="agricultura">
                     <p>Agricultura</p>
                      <img src="../../assets/imagenes/plantita.jpg">
                   </div>

                 </div>

        </div>
    </div> -->
        



  </div>
